@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Rokkitt", serif;
    box-sizing: border-box;
}

body {
    background-color: #FFDE4D;
}

.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.logo img {
    width: 50px;
    position: relative;
    margin: 15px 0 0 30px;
    display: block;
    animation: moveInLeft 1s ease;
}

.logo {
    display: flex;
}

.nav-bar ul {
    display: flex;
    margin: 10px;
}

.nav-bar ul li {
    padding: 20px;
    list-style: none;
    font-size: 18px;
    color: rgb(0, 0, 0);


}

.nav-bar a {
    text-decoration: none;


}


.nav-bar button {
    background: none;
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: none;

}

.nav-bar span {
    color: black;
    position: relative;
    top: 20px;
}

hr {
    margin: 0 10px 10px 10px;
    box-shadow: 5px 2px 2px black;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}

.mag {
    width: 500px;
    background-color: transparent;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px 0px 20px;
    font-size: 18px;

}

.fa-magnifying-glass {
    font-size: 16px;
    float: right;
    transform: translateX(-60px);
    padding: 20px;
}

input:focus {
    outline: none;
    border: 2px solid black;
}

.mag::placeholder {
    color: black;
    font-size: 16px;
    padding: 20px;

}

.potrait {
    background: none;
    padding: 15px;
    width: 200px;
    font-size: 18px;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
}

/* .sec-box {
    display: none;
} */

.head {
    margin: 20px;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
}

.landscape {
    display: flex;
    background-color: aquamarine;
    border-radius: 0px 30px 30px 0px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.land {
    display: none;
}

.landscape-right {
    display: flex;
    margin-top: 50px;
    background-color: aquamarine;
    border-radius: 30px 0px 0px 30px;
}

.landscape-right {
    position: relative;
    left: 230px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    transition: 1s;
}

.landscape img {
    padding: 20px;
}

.landscape-right img {
    padding: 20px;
}

.imgbox {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgbox img {
    width: 16cm;
    height: 9cm;
}

.user {
    width: 16cm;
    height: 9cm;
}

.title {
    /* text-decoration: underline; */
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin: 30px;

}

.info {
    display: flex;
    margin: 30px;

}

.info h2 {
    padding: 20px;
    font-size: 30px;
    display: block;
    font-weight: 400;
    /* text-decoration: underline; */
}

.info p {
    font-size: 23px;
    margin: 30px;
    margin-top: 0%;
    text-align: center;

}

.info img {
    width: 190px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;

}

.fa-heart {
    font-size: 30px;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    float: left;
    margin-top: 0;
}

.fa-thumbs-up {
    font-size: 30px;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    float: right;
    margin-top: 0%;
}

.fa-share {
    font-size: 30px;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    float: right;
    margin-top: 0%;
}

.sub {
    display: flex;
}

.like span {
    display: block;

}

.rightsub {
    display: flex;
}

@keyframes fade {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/* color:#FFAF00,#F5004F; */
.photo img {
    width: 10cm;
    height: 15cm;
    padding: 20px;
}

.por {
    display: flex;
    width: 20cm;
    background-color: #FFAF00;
    margin: 40px 40px 40px 0px;
    border-radius: 0px 30px 30px 0px;
    animation: fordabba linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;

}

.por-right {
    display: flex;
    width: 20cm;
    background-color: #FFAF00;
    margin: 70px 40px 40px 0px;
    border-radius: 30px 0px 0px 30px;
    position: relative;
    left: 47.5%;
    animation: forpor linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;


}

.details h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 20px;
}

.details {
    width: 10cm;
    height: 15cm;
    display: grid;
    place-items: center;
    height: 100%;
    padding: 30px;
}

.details h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.details img {
    width: 140px;
    height: 145px;
    border-radius: 50%;
    margin: 30px;
}

.details p {
    font-size: 20px;
    padding: 20px;
}

.icons {
    display: flex;
}

.like-por span {
    display: block;
    text-align: center;
    padding: 10px;
}

.land {
    background: none;
    width: 200px;
    font-size: 18px;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
}

.ham-bar a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    margin: 20px;
    padding: 10px;
    font-size: 12px;
}

.wrong {
    margin: 10px;
    margin-bottom: 0px;

    font-size: 15px;
    padding: 10px;

}

.ham {
    background-color: rgb(0, 0, 0);
    height: 597px;
    display: none;
}

.menu {
    margin: 20px;

    font-size: 25px;

}

.mun {
    display: none;
    position: absolute;
    font-size: 12px;
    right: 0;
    background-color: none;
}

@keyframes fordabba {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translate(10px);
    }

    100% {

        opacity: 1;

    }
}

@keyframes forpor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translate(-10px);
    }

    100% {

        opacity: 1;

    }
}

.container-potrait {
    display: none;
}

@media screen and (max-width:1024px) {

    body {
        background-color: #FFDE4D;
    }

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo img {
        width: 30px;
        position: relative;
        margin: 15px 0 0 30px;
        display: block;
        margin-top: 17px;
        animation: moveInLeft 1s ease;
    }

    .logo {
        display: flex;
    }

    .nav-bar ul {
        display: flex;
        margin: 4px;

    }

    .nav-bar ul li {
        padding: 20px;
        list-style: none;
        font-size: 16px;
        color: black;


    }

    .nav-bar a {
        text-decoration: none;

    }

    .nav-bar button {
        background: none;
        color: black;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        border: none;

    }

    .nav-bar span {
        color: black;
        position: relative;
        top: 20px;
    }

    hr {
        margin: 0 10px 10px 10px;
        box-shadow: 5px 2px 2px black;
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    .mag {
        width: 400px;
        background-color: transparent;
        padding: 10px;
        border: 2px solid white;
        border-radius: 20px 0px 20px;
        font-size: 18px;

    }

    .fa-magnifying-glass {
        font-size: 14px;
        float: right;
        transform: translateX(-50px);
        padding: 15px;
    }

    input:focus {
        outline: none;
        border: 2px solid black;
    }

    .mag::placeholder {
        color: black;
        font-size: 14px;
        padding: 20px;

    }

    .potrait {
        background: none;
        padding: 10px;
        width: 150px;
        font-size: 16px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

    .land {
        background: none;
        width: 150px;
        font-size: 16px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px;
    }

    /* .sec-box {
    display: none;
} */

    .head {
        margin: 20px;
        font-weight: 300;
        font-size: 25px;
        text-align: center;
        letter-spacing: 8px;
    }

    .landscape {
        display: flex;
        background-color: aquamarine;
        border-radius: 0px 30px 30px 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;

    }

    .land {
        display: none;
    }

    .landscape-right {
        display: flex;
        margin-top: 50px;
        background-color: aquamarine;
        border-radius: 30px 0px 0px 30px;

    }

    .landscape-right {
        position: relative;
        left: 116px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;
    }

    .landscape img {
        padding: 15px;
    }

    .landscape-right img {
        padding: 15px;
    }

    .imgbox {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .imgbox img {
        width: 12cm;
        height: 7cm;
    }

    .user {
        width: 12cm;
        height: 6cm;

    }



    .title {
        /* text-decoration: underline; */
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        margin: 20px;

    }

    .info {
        display: flex;
        margin: 20px;

    }

    .info h2 {
        padding: 10px;
        font-size: 20px;
        display: block;
        font-weight: 400;
        /* text-decoration: underline; */
    }

    .info p {
        font-size: 20px;
        margin: 20px;
        margin-top: 0%;
        text-align: center;

    }

    .info img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 10px;

    }

    .fa-heart {
        font-size: 20px;
        margin: 20px;
        margin-bottom: 0;
        padding: 20px;
        float: left;
        margin-top: 0;
    }

    .fa-thumbs-up {
        font-size: 20px;
        margin: 20px;
        margin-bottom: 0;
        padding: 20px;
        float: right;
        margin-top: 0%;
    }

    .fa-share {
        font-size: 20px;
        margin: 10px;
        margin-bottom: 0;
        padding: 20px;
        float: right;
        margin-top: 0%;
    }

    .sub {
        display: flex;
    }

    .like span {
        display: block;

    }

    .rightsub {
        display: flex;
    }

    /* color:#FFAF00,#F5004F; */
    .photo img {
        width: 9cm;
        height: 13cm;
        padding: 20px;
    }

    .por {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 0px 20px 20px 0px;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .por-right {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        left: 37%;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        transition: 1s;
    }

    .details h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 20px;
    }

    .details {
        width: 8cm;
        height: 12cm;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 20px;
    }

    .details h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .details img {
        width: 140px;
        height: 145px;
        border-radius: 50%;
        margin: 30px;
    }

    .details p {
        font-size: 20px;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .like-por span {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .land {
        background: none;
        padding: 10px;
        width: 150px;
        font-size: 15px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

}


@media screen and (max-width:768px) {

    body {
        background-color: #FFDE4D;
    }

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo img {
        width: 30px;
        position: relative;
        margin: 10px 0 0 30px;
        display: block;
        animation: moveInLeft 1s ease;
    }

    .logo {
        display: flex;
    }

    .nav-bar ul {
        display: flex;
        margin: 4px;

    }

    .nav-bar ul li {
        padding: 16px;
        list-style: none;
        font-size: 14px;
        color: black;


    }

    .nav-bar a {
        text-decoration: none;

    }

    .nav-bar button {
        background: none;
        color: black;
        padding: 10px;
        margin: 1px;
        font-size: 14px;
        border: none;

    }

    .nav-bar span {
        color: black;
        position: relative;
        top: 12px;
    }

    hr {
        margin: 0 10px 10px 10px;
        box-shadow: 5px 2px 2px black;
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    .mag {
        width: 350px;
        background-color: transparent;
        padding: 8px;
        border: 2px solid white;
        border-radius: 20px 0px 20px;
        font-size: 18px;
    }

    .fa-magnifying-glass {
        font-size: 14px;
        float: right;
        transform: translateX(-50px);
        padding: 15px;
    }

    input:focus {
        outline: none;
        border: 2px solid black;
    }

    .mag::placeholder {
        color: black;
        font-size: 14px;
        padding: 20px;
    }

    .potrait {
        background: none;
        padding: 8px;
        width: 120px;
        font-size: 14px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

    .land {
        background: none;
        width: 120px;
        font-size: 14px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 8px;
    }

    /* .sec-box {
    display: none;
} */

    .head {
        margin: 20px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 4px;
    }

    .landscape {
        display: flex;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;

    }

    .land {
        display: none;
    }

    .landscape-right {
        display: flex;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;

    }

    .landscape-right {
        position: relative;
        left: 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;
    }

    .landscape img {
        padding: 10px;
    }

    .landscape-right img {
        padding: 15px;
    }

    .imgbox {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .imgbox img {
        width: 8cm;
        height: 5cm;
    }

    .user {
        width: 12cm;
        height: 4cm;

    }

    .boxx {
        transform: translateY(-10px);

    }

    .title {
        /* text-decoration: underline; */
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        margin: 20px;

    }

    .info {
        display: flex;
        margin: 20px;

    }

    .info h2 {
        padding: 10px;
        font-size: 15px;
        display: block;
        font-weight: 400;
        /* text-decoration: underline; */
    }

    .info p {
        font-size: 14px;
        margin: 10px;
        margin-top: 0%;
        text-align: center;

    }


    .info img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 10px;

    }

    .fa-heart {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 5px;
        float: left;
        margin-top: 0;
    }

    .fa-thumbs-up {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 5px;
        float: right;
        margin-top: 0;
    }

    .fa-share {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 5px;
        float: right;
        margin-top: 0;
    }

    .sub {
        display: flex;
    }

    .like {
        padding-left: 10px;
    }

    .like span {
        display: block;
        font-size: 14px;

    }

    .rightsub {
        display: flex;
    }

    /* color:#FFAF00,#F5004F; */
    .photo img {
        width: 9cm;
        height: 13cm;
        padding: 20px;
    }

    .por {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 0px 20px 20px 0px;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .por-right {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        left: 37%;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        transition: 1s;
    }

    .details h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 20px;
    }

    .details {
        width: 8cm;
        height: 12cm;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 20px;
    }

    .details h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .details img {
        width: 140px;
        height: 145px;
        border-radius: 50%;
        margin: 30px;
    }

    .details p {
        font-size: 20px;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .like-por span {
        display: block;
        text-align: center;
        padding: 10px;
    }
}


@media screen and (max-width:425px) {

    body {
        background-color: #FFDE4D;
    }

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo img {
        width: 30px;
        position: relative;
        margin: 10px 0 0 30px;
        display: block;
        animation: moveInLeft 1s ease;
    }

    .logo {
        display: flex;
    }

    .nav-bar ul {
        display: flex;
        margin: 4px;

    }

    .nav-bar ul li {
        padding: 16px;
        list-style: none;
        font-size: 14px;
        color: black;
    }

    .nav-bar a {
        text-decoration: none;

    }

    .nav-bar button {
        background: none;
        color: black;
        padding: 10px;
        margin: 1px;
        font-size: 14px;
        border: none;

    }

    .nav-bar span {
        color: black;
        position: relative;
        top: 12px;
    }

    hr {
        margin: 0 10px 10px 10px;
        box-shadow: 5px 2px 2px black;
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    .mag {
        width: 220px;
        background-color: transparent;
        padding: 8px;
        border: 2px solid white;
        border-radius: 20px 0px 20px;
        font-size: 12px;

    }

    .fa-magnifying-glass {
        font-size: 12px;
        float: right;
        transform: translateX(-50px);
        padding: 10px;
    }

    input:focus {
        outline: none;
        border: 2px solid black;
    }

    .mag::placeholder {
        color: black;
        font-size: 14px;
        padding: 20px;

    }

    .potrait {
        background: none;
        padding: 6px;
        width: 100px;
        font-size: 12px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

    .land {
        background: none;
        width: 120px;
        font-size: 14px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 8px;
    }

    /* .sec-box {
    display: none;
} */

    .head {
        margin: 20px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 4px;
    }

    .landscape {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;

    }

    .land {
        display: none;
    }

    .landscape-right {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;

    }

    .landscape-right {
        position: relative;
        left: 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .landscape img {
        padding: 10px;
    }

    .landscape-right img {
        padding: 15px;
    }

    .imgbox {
        display: grid;
        place-items: center;

    }

    .imgbox img {
        width: 11cm;
        height: 6cm;
    }

    .user {
        width: 11cm;
        height: 4cm;

    }

    .boxx {
        transform: translateY(-20px);

    }

    .title {
        /* text-decoration: underline; */
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        margin: 5px;

    }

    .info {
        display: flex;
        margin: 10px;

    }

    .info h2 {
        padding: 8px;
        font-size: 15px;
        display: block;
        font-weight: 400;
        /* text-decoration: underline; */
    }

    .info p {
        font-size: 14px;
        margin: 10px;
        margin-top: 0%;
        text-align: center;

    }


    .info img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 10px;

    }

    .fa-heart {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 10px;
        float: left;
        margin-top: 0;
    }

    .fa-thumbs-up {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .fa-share {
        font-size: 16px;
        margin: 20px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .sub {
        display: flex;
    }

    .like {
        padding-left: 10px;
    }

    .like span {
        display: block;
        font-size: 14px;

    }

    .rightsub {
        display: flex;
    }

    /* color:#FFAF00,#F5004F; */
    .photo img {
        width: 9cm;
        height: 13cm;
        padding: 20px;
    }

    .por {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 0px 20px 20px 0px;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .por-right {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        left: 37%;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        transition: 1s;
    }

    .details h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 20px;
    }

    .details {
        width: 8cm;
        height: 12cm;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 20px;
    }

    .details h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .details img {
        width: 140px;
        height: 145px;
        border-radius: 50%;
        margin: 30px;
    }

    .details p {
        font-size: 20px;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .like-por span {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .ham-bar a {
        text-decoration: none;
        list-style: none;
        color: rgb(255, 255, 255);
        display: grid;
        place-items: center;
        margin: 20px;
        padding: 10px;
        font-size: 12px;
    }

    .wrong {
        margin: 10px;
        margin-bottom: 0px;
        font-size: 15px;
        padding: 10px;

    }

    .ham {
        background-color: rgb(0, 0, 0);
        height: 597px;
        display: none;
    }

    .menu {
        margin: 15px;
        font-size: 20px;

    }

    .mun {
        position: absolute;
        font-size: 12px;
        display: block;
        right: 0;
        background-color: none;
        z-index: 100;
    }


    .artmen {
        display: none;
    }

}



@media screen and (max-width:375px) {

    body {
        background-color: #FFDE4D;
    }

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo img {
        width: 30px;
        position: relative;
        margin: 10px 0 0 30px;
        display: block;
        animation: moveInLeft 1s ease;
    }

    .logo {
        display: flex;
    }

    .nav-bar ul {
        display: flex;
        margin: 4px;

    }

    .nav-bar ul li {
        padding: 16px;
        list-style: none;
        font-size: 14px;
        color: black;
    }

    .nav-bar a {
        text-decoration: none;

    }

    .nav-bar button {
        background: none;
        color: black;
        padding: 10px;
        margin: 1px;
        font-size: 14px;
        border: none;

    }

    .nav-bar span {
        color: black;
        position: relative;
        top: 12px;
    }

    hr {
        margin: 0 10px 10px 10px;
        box-shadow: 5px 2px 2px black;
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    .mag {
        width: 200px;
        background-color: transparent;
        padding: 6px;
        border: 2px solid white;
        border-radius: 20px 0px 20px;
        font-size: 12px;

    }

    .fa-magnifying-glass {
        font-size: 10px;
        float: right;
        transform: translateX(-50px);
        padding: 10px;
    }

    input:focus {
        outline: none;
        border: 2px solid black;
    }

    .mag::placeholder {
        color: black;
        font-size: 12px;
        padding: 20px;

    }

    .potrait {
        background: none;
        padding: 6px;
        width: 80px;
        font-size: 10px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

    .land {
        background: none;
        width: 120px;
        font-size: 14px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 8px;
    }

    /* .sec-box {
    display: none;
} */

    .head {
        margin: 20px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 4px;
    }

    .landscape {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;

    }

    .land {
        display: none;
    }

    .landscape-right {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;

    }

    .landscape-right {
        position: relative;
        left: 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .landscape img {
        padding: 10px;
    }

    .landscape-right img {
        padding: 15px;
    }

    .imgbox {
        display: grid;
        place-items: center;
    }

    .imgbox img {
        width: 9cm;
        height: 5cm;
    }

    .user {
        width: 9cm;
        height: 4cm;

    }

    .boxx {
        transform: translateY(-20px);

    }

    .title {
        /* text-decoration: underline; */
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        margin: 0;


    }

    .info {
        display: flex;
        margin: 0px;
    }

    .info h2 {
        padding: 8px;
        font-size: 18px;
        display: block;
        font-weight: 400;
        /* text-decoration: underline; */
    }

    .info p {
        font-size: 14px;
        margin: 10px;
        margin-top: 0%;
        text-align: center;

    }


    .info img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 10px;
        margin-top: 30px;

    }

    .fa-heart {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: left;
        margin-top: 0;
    }

    .fa-thumbs-up {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .fa-share {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .sub {
        display: flex;
    }

    .like {
        padding-left: 10px;
    }

    .like span {
        display: block;
        font-size: 14px;

    }

    .rightsub {
        display: flex;
    }

    /* color:#FFAF00,#F5004F; */
    .photo img {
        width: 9cm;
        height: 13cm;
        padding: 10px;
    }

    .por {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 0px 20px 20px 0px;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .por-right {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        left: 37%;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        transition: 1s;
    }

    .details h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 20px;
    }

    .details {
        width: 8cm;
        height: 12cm;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 20px;
    }

    .details h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .details img {
        width: 140px;
        height: 145px;
        border-radius: 50%;
        margin: 30px;
    }

    .details p {
        font-size: 20px;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .like-por span {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .ham-bar a {
        text-decoration: none;
        list-style: none;
        color: rgb(255, 255, 255);
        display: grid;
        place-items: center;
        margin: 20px;
        padding: 10px;
        font-size: 12px;
    }

    .wrong {
        margin: 10px;
        margin-bottom: 0px;
        font-size: 15px;
        padding: 10px;

    }

    .ham {
        background-color: rgb(0, 0, 0);
        height: 597px;
        display: none;
    }

    .menu {
        margin: 15px;
        font-size: 20px;

    }

    .mun {
        position: absolute;
        font-size: 12px;
        display: block;
        right: 0;
        background-color: none;
        z-index: 100;
    }


    .artmen {
        display: none;
    }

}


@media screen and (max-width:370px) {

    body {
        background-color: #FFDE4D;
    }

    .nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo img {
        width: 30px;
        position: relative;
        margin: 10px 0 0 30px;
        display: block;
        animation: moveInLeft 1s ease;
    }

    .logo {
        display: flex;
    }

    .nav-bar ul {
        display: flex;
        margin: 4px;

    }

    .nav-bar ul li {
        padding: 16px;
        list-style: none;
        font-size: 14px;
        color: black;
    }

    .nav-bar a {
        text-decoration: none;

    }

    .nav-bar button {
        background: none;
        color: black;
        padding: 10px;
        margin: 1px;
        font-size: 14px;
        border: none;

    }

    .nav-bar span {
        color: black;
        position: relative;
        top: 12px;
    }

    hr {
        margin: 0 10px 10px 10px;
        box-shadow: 5px 2px 2px black;
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    .mag {
        width: 170px;
        background-color: transparent;
        padding: 6px;
        border: 2px solid white;
        border-radius: 20px 0px 20px;
        font-size: 12px;

    }

    .fa-magnifying-glass {
        font-size: 10px;
        float: right;
        transform: translateX(-50px);
        padding: 10px;
    }

    input:focus {
        outline: none;
        border: 2px solid black;
    }

    .mag::placeholder {
        color: black;
        font-size: 12px;
        padding: 20px;

    }

    .potrait {
        background: none;
        padding: 6px;
        width: 80px;
        font-size: 10px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
    }

    .land {
        background: none;
        width: 120px;
        font-size: 14px;
        color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 8px;
    }

    /* .sec-box {
    display: none;
} */

    .head {
        margin: 20px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 4px;
    }

    .landscape {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;

    }

    .land {
        display: none;
    }

    .landscape-right {
        display: block;
        margin-top: 0px;
        background-color: aquamarine;
        border-radius: 0px 0px 0px 0px;

    }

    .landscape-right {
        position: relative;
        left: 0px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .landscape img {
        padding: 10px;
    }

    .landscape-right img {
        padding: 10px;
    }

    .imgbox {
        display: grid;
        place-items: center;
    }

    .imgbox img {
        width: 8.5cm;
        height: 5cm;
    }

    .user {
        width: 4cm;
        height: 4cm;

    }

    .boxx {
        transform: translateY(-20px);

    }

    .title {
        /* text-decoration: underline; */
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        margin: 0;


    }

    .info {
        display: flex;
        margin: 0px;
    }

    .info h2 {
        padding: 8px;
        font-size: 18px;
        display: block;
        font-weight: 400;
        /* text-decoration: underline; */
    }

    .info p {
        font-size: 14px;
        margin: 10px;
        margin-top: 0%;
        text-align: center;

    }


    .info img {
        width: 90px;
        height: 100px;
        border-radius: 50%;
        padding: 10px;
        margin-top: 30px;

    }

    .fa-heart {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: left;
        margin-top: 0;
    }

    .fa-thumbs-up {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .fa-share {
        font-size: 16px;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        float: right;
        margin-top: 0;
    }

    .sub {
        display: flex;
    }

    .like {
        padding-left: 10px;
    }

    .like span {
        display: block;
        font-size: 14px;

    }

    .rightsub {
        display: flex;
    }

    /* color:#FFAF00,#F5004F; */
    .photo img {
        width: 9cm;
        height: 13cm;
        padding: 10px;
    }

    .por {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 0px 20px 20px 0px;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        transition: 1s;

    }

    .por-right {
        display: flex;
        width: 17cm;
        background-color: #FFAF00;
        margin: 40px 40px 40px 0px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        left: 37%;
        /* animation: none; */
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        transition: 1s;
    }

    .details h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 20px;
    }

    .details {
        width: 8cm;
        height: 12cm;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 20px;
    }

    .details h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .details img {
        width: 140px;
        height: 145px;
        border-radius: 50%;
        margin: 30px;
    }

    .details p {
        font-size: 20px;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .like-por span {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .ham-bar a {
        text-decoration: none;
        list-style: none;
        color: rgb(255, 255, 255);
        display: grid;
        place-items: center;
        margin: 20px;
        padding: 10px;
        font-size: 12px;
    }

    .wrong {
        margin: 10px;
        margin-bottom: 0px;
        font-size: 15px;
        padding: 10px;

    }

    .ham {
        background-color: rgb(0, 0, 0);
        height: 597px;
        display: none;
    }

    .menu {
        margin: 15px;
        font-size: 20px;

    }

    .mun {
        position: absolute;
        font-size: 12px;
        display: block;
        right: 0;
        background-color: none;
        z-index: 100;
    }


    .artmen {
        display: none;
    }

}