@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Rokkitt", serif;
    margin: 0;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-size: contain;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}

.logo img {
    width: 50px;
    position: relative;
    margin: 15px 0 0 30px;
    display: block;
    animation: moveInLeft 1s ease;
}

.nav-bar ul {
    display: flex;
    margin: 10px;

}

.nav-bar ul li {
    padding: 20px;
    list-style: none;
    font-size: 18px;
    color: white;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar button {
    background: none;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
}

.nav-bar span {
    color: white;
    position: relative;
    top: 20px;
}

.center {
    display: flex;
    background-color: white;
    padding: 20px;
    width: 1100px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.box2 li {
    list-style: none;
    margin: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.pic img {
    padding: 10px;
    width: 350px;
    height: 350px;
    margin: 0;
}

.btn button {
    width: 350px;
    border: none;
    border-bottom: 0.5px solid black;
    padding: 20px;
    background: white;
    display: block;
    font-size: 18px;
}

.up {
    background: none;
    color: black;
    width: 200px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;

}


.box2 li {
    list-style: none;
    margin: 20px;
}

textarea {
    width: 600px;
    height: 200px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

textarea::placeholder {

    font-size: 18px;
}

.bio {
    animation: fadein 1s ease-in;
}

.bio label {
    width: 100px;
    display: inline-block;
    color: black;
    font-size: 19px;
}

/* About page starts */
input {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.save {
    width: 100px;
    padding: 10px;
    background-color: #3572EF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.end {
    float: right;
}

.cancel {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

/* About page ends  */
/* social link page  starts */
.box3 li {
    list-style: none;
    margin: 20px;

}

.social label {
    width: 100px;
    display: block;
    color: black;
    font-size: 19px;
}

.social {
    display: none;
    animation: fadein 1s ease-in;
}

/* social link page ends  */
/* password link page starts  */
.box4 {
    display: flex;
    justify-content: center;

}

.box4 li {
    list-style: none;
    margin: 20px;

}

.password label {
    /* width: 100px; */
    display: block;
    margin: 10px;
    color: black;
    font-size: 19px;
}

.password {
    display: none;
    animation: fadein 1s ease-in;
}

/* upload page starts  */
.delete {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #FF0000;
    border: 1px solid black;
}

.box1-5 {
    position: relative;
    top: 20px;
    margin: 20px;
}

h2 {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

.pics img {
    padding: 10px;
    width: 350px;
    margin: 0;
}

.modify {
    width: 100px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    background-color: #9BEC00;
    border: 1px solid black;
}

.upload {
    display: none;
    animation: fadein 1s ease-in;
}

.box2 {
    position: relative;
    left: 40px;
}

.box1-5,
.box4 {
    position: relative;
    left: 150px;
    top: 30px;
}

.box3,
.box4 {
    position: relative;
    left: 100px;
    top: 30px;
}

hr {
    border: 1px solid black;
    margin: 10px;
}

.ham-bar a {
    text-decoration: none;
    list-style: none;
    color: white;
    display: grid;
    place-items: center;
    margin: 40px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 0.5px solid grey;


}

.wrong {
    margin: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 10px;

}

.ham {
    background-color: black;
    display: none;
    height: 900px;
}

.menu {
    margin: 30px;
    display: block;
    font-size: 30px;
}

.mun {
    background-color: none;
    /* display: none; */
    animation: moveInRight 1s ease;
}

/* upload page ends  */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}